<!DOCTYPE html>
<html lang="en" ng-app="geocoding">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>GeoCoding</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{STATIC_URL}}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="{{STATIC_URL}}/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <!-- Timeline CSS -->
        <link href="{{STATIC_URL}}/dist/css/timeline.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}/dist/css/sb-admin-2.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{STATIC_URL}}/bower_components/morrisjs/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{STATIC_URL}}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="{{STATIC_URL}}/angular-busy/angular-busy.css" rel="stylesheet" type="text/css">




        <style type="text/css">
    [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
    </style>
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Geocoding</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    
                    <!-- /input-group -->
                </li>
                <li>
                    <a href=""><i class="fa fa-dashboard fa-fw"></i>GeoCoding</a>
                </li>
                
                
                
                
                
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
<div id="page-wrapper">
    
    {% block content %}
        
    {% endblock content %}
    
</div>


<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{{STATIC_URL}}/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{STATIC_URL}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{STATIC_URL}}/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="{{STATIC_URL}}/bower_components/raphael/raphael-min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{STATIC_URL}}/dist/js/sb-admin-2.js"></script>


<script type="text/javascript" src='{{ STATIC_URL }}angular/angular.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-resource.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-route.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-sanitize.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-touch.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-cookies.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-animate.min.js?v=1.2'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/ui-bootstrap-tpls-0.11.2.min.js?v=1.2'></script>

<script type="text/javascript" src='{{ STATIC_URL }}scripts.js'></script>

<script type="text/javascript" src="{{STATIC_URL}}/angular-busy/angular-busy.js"></script>


</body>
</html>