{% extends "core/base.html" %} 




{% block content %}
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
    <div class="row" ng-controller="GeoCodingctrl" >
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       GeoCoding
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6" cg-busy="{promise:coordinates_promise,message:'Please Wait ...',minDuration:100}">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Enter Coordinates</label>
                                        <input class="form-control" ng-model="coordinates">
                                        <p class="help-block">Comma or space separated Coordinates.</p>
                                    </div>
                                    
                                    
                                    
                                    <button type="submit" class="btn btn-success" ng-click="submit_coordinates()">Submit Coordinates</button>
                                    <div class="alert alert-success" style="margin-top:30px" ng-show="coordinates_results" ng-cloak>
                                    {% verbatim %}
                                        {{coordinates_results}}
                                    {% endverbatim %}
                                        
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6" cg-busy="{promise:address_promise,message:'Please Wait ...',minDuration:100}">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Enter Address</label>
                                        <input class="form-control" ng-model="address">
                                        <p class="help-block">Enter Address.</p>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-success" ng-click="submit_address()">Submit Address</button>

                                    <div class="alert alert-success" style="margin-top:30px" ng-show="address_results" ng-cloak>
                                    {% verbatim %}
                                        {{address_results}}
                                    {% endverbatim %}
                                        
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock content %}